@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(158, 42%, 18%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --fs-montserrat: 'Montserrat', sans-serif;  /* 500, 700*/
    --fs-frances: 'Fraunces', sans-serif;       /* 700 */
}
body, html {
    height: 100%;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cream);
}
.product-card {
    display: flex;
    flex-direction: row;
    width: 40%;
    min-width: 700px;
    height: 70%;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--white);
    border-radius: 1rem;
}
.product-image {
    object-fit: fill;
    width: 50%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.product-genre {
    width: 100%;
    font-family: var(--fs-montserrat);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .3rem;
    color: var(--grey);
    margin-top: 2rem;
    margin-left: 2rem;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}
.product-info > h1 {
    width: 100%;
    font-family: var(--fs-frances);
    font-weight: 600;
    font-size: 42px;
    text-justify: justify;
    color: var(--black);
    margin-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.product-description{
    font-family: var(--fs-montserrat);
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.4rem;
}
.product-price{
    font-family: var(--fs-frances);
    font-weight: 700;
    font-size: 32px;
    color: var(--black);
    margin-left: 2rem;
    margin-top: 1.5rem;
}
.product-new-price{
    float: left;
    text-align: center;
    color: var(--green-500);
}
.product-bargain{
    float: left;
    font-size: 14px;
    line-height: 40px;
    margin-left: 2rem;
    text-decoration: line-through;
    color: var(--grey);
}
.add-to-cart-button{
    width: 80%;
    height: 3rem;
    border: 0;
    background-color: var(--green-500);
    color: var(--white);
    font-family: var(--fs-montserrat);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border-radius: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.add-to-cart-button > img {
    margin-right: 1rem;
}

@media (width > 400px) and (width < 1000px) {
    .product-card {
        min-width: 350px;
        height: 90%;
        display: flex;
        flex-direction: column;
        
    }
    .product-info{
        min-width: 350px;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    .product-image {
        content:url("./images/image-product-mobile.jpg");
        width: 100%;
        height: 40%;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 0;
    }
    .product-genre {
        font-size: 14px;
    }
    .product-info > h1 {
        font-size: 32px;
    }
    .product-bargain{
        margin-left: 1.5rem;
    }
}


@media (width <= 400px) {
    .product-card {
        min-width: 250px;
        height: 90%;
        display: flex;
        flex-direction: column;
        
    }
    .product-info{
        min-width: 250px;
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    .product-image {
        content:url("./images/image-product-mobile.jpg");
        width: 100%;
        height: 40%;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 0;
    }
    .product-genre {
        font-size: 12px;
    }
    .product-info > h1 {
        font-size: 25px;
    }
    .product-price{
        font-size: 22px;
    }
    .product-bargain{
        font-size: 12px;
        line-height: 30px;
        margin-left: 1rem;
        color: var(--grey);
    }
}